.git
.github
**/.git
**/.github

node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

.next
**/.next
.turbo
**/.turbo
turbo.json

coverage
**/coverage

dist
**/dist
build
**/build
tmp
**/tmp

*.log
**/*.log

.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

.DS_Store
.gitignore
docker-compose.yml
.dockerignore
*.tsbuildinfo
